- let list_num = ['6', '3']
.cat-list
  .container-fluid
    .row
      .col-md-8
        .cat-list-wrap
          a.cat-list-item(href="#")
            .row
              .col-sm-6
                .pattern
                  img.img-responsive.overlay(src=`img/blog/news/${list_num[0]}.jpg`, alt="alt")
              .col-sm-6
                h3 Золотистый IPhone предыдущего поколения положили на тыкву
      .col-md-4