- let data_type  = ['01/05/2016' ]
- let count_type = [ 46 ]

section.type-one
  .container-fluid
    .row
      .col-sm-12
        h2.type-one-header
          a(href="") DIY 
      .col-md-7
        .type-one-first
          a(href="#" title="Как создать красивое освещение в виде шариков в своём доме") 
            img.img-responsive.img-width(src="img/blog/diy/1.jpg" alt='alt')
          +item-social-mod3( count_type[0], data_type[0])
          h3.type-title 
            a(href="#") Как создать красивое освещение в виде шариков в своём доме    
      .col-md-5