- let num_news = ['6', '7', '8', '9']

- let title_news1 = ['Золотистый iPhone предыдущего поколения положили на тыкву', 'Программист из Ставрополя посадил зрение после 22-ч лет работы','Обнаружена первая в мире белая виниловая пластинка без дорожек', 'Человек впервые в мире сделал снимок в море']

- let aside_img = ['vk-witget', 'ad-cube']

section.second-section
  .container-fluid
    .row
      .col-md-8
        h2.item-news-title 
          a(href="#") Новости IT
        .row.news-wrap
          - for (let i = 0; i < 4; i++)	
            .col-md-6
              .pattern
                a(href="").overlay.item-news(style=`background-image: url(img/blog/news/${num_news[i]}.jpg);`)
                  .item-news-content
                    h3.item-title-middle #{title_news1[i]}
                    span.date 21/06/2018
      .col-md-4
        - for (let i = 0; i < 2; i++)
          .aside-box
            img.img-responsive(src=`img/${aside_img[i]}.jpg`, alt='alt')  
        
