extends ../layout/main
include ../mixins/mixins
block variables
	- var title = 'GEEKTOP - Новости из мира IT'

block content
		.ad.top-ad
			.container-fluid
				img.img-responsive(src='img/ad-horizontal.jpg', alt='alt')
		include ../section/general/first-section/top
		include ../section/general/second-section/second-section
		include ../section/general/third-section/third-section
		include ../section/general/fourth-section/fourth-section
		include ../section/general/fifth-section/type-one
		include ../section/general/six-section/s_more

