section.first-section.clearfix
	.row.no-gutters
			.col-md-6
				.pattern
					.overlay.item-tittle(style='background: url(img/blog/electronics/1.jpg); background-size: cover;background-position: center;')
					.item-tittle-content
						h3.item-tittle-headline
							a.item-underline(href='#') Новые смартфоны покорили поклонников мобильной индустрии
						+item-social('25', 'img/blog/electronics/1.jpg', 'Новые смартфоны покорили поклонников мобильной индустрии')
			
			.col-md-6
				.pattern
					.overlay.item-tittle(style='background: url(img/blog/electronics/2.jpg); background-size: cover;	background-position: center')
					.item-tittle-content
						h3.item-tittle-headline
							a.item-underline(href='#') MACBOOK ФЕДЯ ЗАНЯЛ СВОЕ ПОЧЕТНОЕ МЕСТО НА БАБУШКИНОМ СТОЛЕ ИЗ 60-Х
						+item-social('25', 'img/blog/electronics/2.jpg','MACBOOK ФЕДЯ ЗАНЯЛ СВОЕ ПОЧЕТНОЕ МЕСТО НА БАБУШКИНОМ СТОЛЕ ИЗ 60-Х')
			

	