- let hacks_num = ['14', '15', '16', '17']
- let title_hacks = ['КАК СФОТОГРАФИРОВАТЬ СЕБЯ НА ТЕЛЕФОН С ЗЕРКАЛКОЙ', 'Упрощаем жизнь наушникам вешаем их на мониторы', 'Как разложить фотоаппараты на столе и не запутаться', 'Правильное подключение проводов к магнитофону']
-let count_hacks = [29, 31, 26, 46 ]
-let data_hacks = ['01/05/2016', '09/09/2017', '13/08/2018', '11/11/2018' ]

section.fourth-section
  .container-fluid
    .row
      .col-sm-12
        h2.fourth-section-header
          a(href="#") Лайфхаки
        .col-md-8
          .row.no-gutters
           - for (let i = 0; i < 4; i++)
            .col-md-6
              .pattern
                .overlay.item-title(style=`background-image: url(img/blog/lifehacks/${hacks_num[i]}.jpg);`)
                  .item-title-content
                    h3.hacks-title
                      a(href="#") #{title_hacks[i]}
                    +item-social-mod(data_hacks[i], count_hacks[i])
        .col-md-4