- let num_reviews   = ['10', '11', '12', '13']
- let title_reviews = ['Новый смартфон с функцией настольного пылесоса всколыхнул сообщество гиков по всему миру', 'Sony выпустили новую полупрофессиональную камеру с высоким разрешением', 'Флагман от Samsung 2017 года продолжает радовать своих покупателей новыми функциями', 'Bubble gum выпустила серию новых наклеек для веб-разработчиков']
- let count_reviews = [40, 31, 22, 61 ]
- let data_reviews  = ['01/09/2018', '10/09/2018', '15/08/2018', '19/10/2018']

section.third-section.dark-section
  .container-fluid
    h2.title-reviews
      a(href="#") Обзоры
    .row
      - for (let i = 0; i < 4; i++)	
        .col-md-3
          .col-item.col-item-dark
            a(href="#")
              img.img-responsive.img-width.overlay(src=`img/blog/reviews/${num_reviews[i]}.jpg`, alt='alt', title=`${title_reviews[i]}`) 
            +item-social-mod(count_reviews[i], data_reviews[i], title_reviews[i]) 
            
            