section.first-section.clearfix
	.container-fluid
		.ad.top-ad
			img.img-responsive(src='img/ad-horizontal.jpg', alt='alt')
		.row.no-gutters
			.col-md-6
				.pattern
					.overlay.item-tittle(style='background: url(img/blog/electronics/1.jpg); background-size: cover;background-position: center;')
					.item-tittle-content
						h3.item-tittle-headline
							a.item-underline(href='#') Новые смартфоны покорили поклонников мобильной индустрии
						.item-social
							.item-comments(title='Kоличество комментариев')
								i.fa.fa-comments
								a.item-comments-count(href='#disqus_thread') 25
							.fa.fa-share-alt(title='Поделиться в соц.сетях')
							.likely.likely-custom(data-url='path', data-media='img/blog/electronics/1.jpg', data-title='Новые смартфоны покорили поклонников мобильной индустрии')
								.vkontakte(title='Поделиться в контакте') Вконтакте
								.facebook(title='Поделиться в facebook') Facebook
								.twitter(title='Поделиться в twitter') Twitter
			.col-md-6
				.pattern
					.overlay.item-tittle(style='background: url(img/blog/electronics/2.jpg); background-size: cover;	background-position: center')
					.item-tittle-content
						h3.item-tittle-headline
							a.item-underline(href='#') MACBOOK ФЕДЯ ЗАНЯЛ СВОЕ ПОЧЕТНОЕ МЕСТО НА БАБУШКИНОМ СТОЛЕ ИЗ 60-Х
						.item-social
							.item-comments(title='Kоличество комментариев')
								i.fa.fa-comments
								a.item-comments-count(href='#disqus_thread') 25
							.fa.fa-share-alt(title='Поделиться в соц.сетях')
							.likely.likely-custom(data-url='path', data-media='img/blog/electronics/1.jpg', data-title='MACBOOK ФЕДЯ ЗАНЯЛ СВОЕ ПОЧЕТНОЕ МЕСТО НА БАБУШКИНОМ СТОЛЕ ИЗ 60-Х')
								.vkontakte(title='Поделиться в контакте') Вконтакте
								.facebook(title='Поделиться в facebook') Facebook
								.twitter(title='Поделиться в twitter') Twitter
		//- 		.row.no-gutters
		//- 			.col-md-4
		//- 				.pattern
		//- 					.overlay.item-tittle(style='background: url(img/blog/electronics/3.jpg); background-size: cover;\
		//- 					background-position: center')
		//- 					.item-tittle-content
		//- 						h3.item-tittle-headline
		//- 							a.item-underline(href='#')
		//- 								| На стол знаменитой московской студии
		//- 								| поставили два новых девайса
		//- 						.item-social
		//- 							.item-comments(title='Kоличество комментариев')
		//- 								i.fa.fa-comments
		//- 								a.item-comment-count(href='#disqus_thread') 25
		//- 							.fa.fa-share-alt(title='Поделиться в соц.сетях')
		//- 							.likely.likely-custom(data-url='path', data-media='img/blog/electronics/1.jpg', data-title='На стол знаменитой московской студии поставили два новых девайса')
		//- 								.vkontakte(title='Поделиться в контакте') Вконтакте
		//- 								.facebook(title='Поделиться в facebook') Facebook
		//- 								.twitter(title='Поделиться в twitter') Twitter
		//- 			.col-md-4
		//- 				.pattern
		//- 					.overlay.item-tittle(style='background: url(img/blog/electronics/4.jpg); background-size: cover;\
		//- 					background-position: center')
		//- 					.item-tittle-content
		//- 						h3.item-tittle-headline
		//- 							a.item-underline(href='#')
		//- 								| НОВЕНЬКИЕ НАУШНИКИ СТИЛИЗОВАННЫЕ ПОД
		//- 								| ОБЬЕКТИВЫ КАМЕР ПОЛОЖИЛИ НА ГРЯЗНЫЙ ПОДДОН
		//- 						.item-social
		//- 							.item-comments(title='Kоличество комментариев')
		//- 								i.fa.fa-comments
		//- 								a.item-comment-count(href='#disqus_thread') 25
		//- 							.fa.fa-share-alt(title='Поделиться в соц.сетях')
		//- 							.likely.likely-custom(data-url='path', data-media='img/blog/electronics/1.jpg', data-title='НОВЕНЬКИЕ НАУШНИКИ СТИЛИЗОВАННЫЕ ПОД ОБЬЕКТИВЫ КАМЕР ПОЛОЖИЛИ НА ГРЯЗНЫЙ ПОДДОН')
		//- 								.vkontakte(title='Поделиться в контакте') Вконтакте
		//- 								.facebook(title='Поделиться в facebook') Facebook
		//- 								.twitter(title='Поделиться в twitter') Twitter
		//- 			.col-md-4
		//- 				.pattern
		//- 					.overlay.item-tittle(style='background: url(img/blog/electronics/5.jpg); background-size: cover;\
		//- 					background-position: center')
		//- 					.item-tittle-content
		//- 						h3.item-tittle-headline
		//- 							a.item-underline(href='#')
		//- 								| MACBOOK ГРИША НАШЕЛ СВОЙ ДОМ НА НИЖНЕЙ
		//- 								| ПОЛКЕ САМОДЕЛЬНОГО КОРОБА ДЛЯ ОБУВИ
		//- 						.item-social
		//- 							.item-comments(title='Kоличество комментариев')
		//- 								i.fa.fa-comments
		//- 								a.item-comment-count(href='#disqus_thread') 25
		//- 							.fa.fa-share-alt(title='Поделиться в соц.сетях')
		//- 							.likely.likely-custom(data-url='path', data-media='img/blog/electronics/1.jpg', data-title='MACBOOK ГРИША НАШЕЛ СВОЙ ДОМ НА НИЖНЕЙ ПОЛКЕ САМОДЕЛЬНОГО КОРОБА ДЛЯ ОБУВИ')
		//- 								.vkontakte(title='Поделиться в контакте') Вконтакте
		//- 								.facebook(title='Поделиться в facebook') Facebook
		//- 								.twitter(title='Поделиться в twitter') Twitter
