-
    var db_array = [
        {
            style: 'background: url(img/blog/electronics/2.jpg);background-size: cover; background-position: center',
            title: 'The title 1',
            content: 'The content 1'
        },
        {
            id: '2',
            title: 'The title 2',
            content: 'The content 2'
        },
    ]
 