block variables
- let title_G_Pages = ['На стол знаменитой московской студии поставили два новых девайса', 'НОВЕНЬКИЕ НАУШНИКИ СТИЛИЗОВАННЫЕ ПОД ОБЬЕКТИВЫ КАМЕР ПОЛОЖИЛИ НА ГРЯЗНЫЙ ПОДДОН', 'MACBOOK ГРИША НАШЕЛ СВОЙ ДОМ НА НИЖНЕЙ ПОЛКЕ САМОДЕЛЬНОГО КОРОБА ДЛЯ ОБУВИ']
-let count = [25, 31, 26, 27]

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		base(href="/")
		meta(name="viewport", content="width=device-width, initial-scale=1.0,maximum-scale=1")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		meta(name="description" content="Новости электроники, технологий, современных гаджетов, и другая актуальная информация совремменой IT-индустрии")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(property='og:image', content='path/to/image.jpg')
		link(rel='icon', href='img/favicon/favicon.ico')
		link(rel='apple-touch-icon', sizes='180x180',href='img/favicon/apple-touch-icon-180x180.png')
		// Custom Browsers Color Start
		meta(name='theme-color', content='202225')
		// Custom Browsers Color End
		link(rel='stylesheet', href='css/main.min.css')
		title #{title} 
		body
			.wrapper
				include ../modules/header
				block content
				include ../modules/footer
			block script
				script(src="js/scripts.min.js")
			
				
				