footer.main-footer
  .container.footer-menu
   +nav('categories', ['Электроника', 'Новости IT', 'Обзоры', 'Лайфхаки', 'DIY', 'О сайте'], 0)
   +nav-soc('nav-soc', [{name: 'fa fa-vk', href:'vk.html'}, 
      {name: 'fa fa-facebook',      href: 'fb.html'},
      {name: 'fa fa-odnoklassniki', href: 'odn.html'},
      {name: 'fa fa-instagram',     href: 'inst.html'},
      {name: 'fa fa-rss',           href: 'rss.html'}])

.footer.bottom-footer
  .container.text-center
    .footer-copy 2018 ©   
      span.logo-footer.logo-litera GeekTOP.ru
    p Копирование контента и размещение на других сайтах запрещено
      
