header.top-line
  a(href="/").logo.logo-litera GEEKTOP
  .search-wrap
    .search(title="Поиск по сайту...")
      .fa.fa-search
    .search-field
      form#cse-search-box(action="/search-box")
        input(type="hidden", name="cx", value='partner-pub-xxx:xxx')
        input(type='hidden', name='cof', value='FORID:10')
        input(type='hidden', name='ie', value='UTF-8')
        input(type='text', name='q', placeholder='Поиск по сайту...')
  .mobile-menu-button
    i.fa.fa-bars  Меню
  nav.main-menu.top-menu
    ul.categories
      li.categories__item.active
        a.categories__link(href="#") Электроника
      li.categories__item
        a.categories__link(href="#") Новости IT
      li.categories__item
        a.categories__link(href="#") Обзоры
      li.categories__item
        a.categories__link(href="#") Лайфхаки
      li.categories__item
        a.categories__link(href="#") DIY
      li.categories__item
        a.categories__link(href="#") О сайте
   

    