@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)


// ≥992px
+media-breakpoint-down(md)
  .main-menu
    display: none
    padding: 20px
  
  .mobile-menu-button
    display: block 
  
  .likely-custom
    font-size: 11px

  .item-title
    &-content
      padding: 40px 18px
    &-headline 
      font-size: 16px
  
  .third-section
    padding: $gutter 0 30px
    .row:last-child
      margin-bottom: -30px
  
// ≥768px
+media-breakpoint-down(sm)
  .first-section
    padding: 
      top: $gutter/2
      bottom: $gutter/2
  
  .container-fluid
    padding: 0 $gutter/2
  
  .top-ad
    margin:$gutter/2 0
  
  .no-gutters
    .pattern 
      margin-bottom: $gutter/2
  
  .item-news
    margin: $gutter/2 0 0

  .col-item
    margin-bottom: $gutter
    margin-top: 0
    padding-bottom: $gutter
    border-bottom: 1px solid rgba(#fff, .05)
    .item-social
      margin-bottom: 5px

  .third-section
    > div > div > div:first-of-type
      margin-top: 12px
    .item-comments, h4 
      margin: 0 $gutter

  .type-one
    .pattern
      margin-bottom: $gutter/2

// ≥576px
+media-breakpoint-down(xs)
  .logo
    font-size: 18px
    padding-left: $gutter/2
  .search-wrap
    .search
      padding-right: $gutter/2
  
  .fourth-section
    padding: $gutter/1.5  0
  .nav-soc
    padding: 10px 0 0
    &__item
      width: 36px
      height: 36px
      line-height: 34px
      font-size: 18px





/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)


// ≤768px
+media-breakpoint-up(md)
  .mobile-menu-button
    display: block 

// ≤992px
+media-breakpoint-up(lg)
  .mobile-menu-button
    display: none
  

// ≤1200px
+media-breakpoint-up(xl)
