section.third-section
  .col-md-12.reviews-wrap
    .container-fluid
      .row
        h2.item-reviews-title Обзоры
          .row
            - for (let i = 0; i < 4; i++)	
              .col-md-6
                .pattern
