- let num_top2 = ['3', '4', '5']
- let title_top2 = ['На стол знаменитой московской студии поставили два новых девайса', 'НОВЕНЬКИЕ НАУШНИКИ СТИЛИЗОВАННЫЕ ПОД ОБЬЕКТИВЫ КАМЕР ПОЛОЖИЛИ НА ГРЯЗНЫЙ ПОДДОН', 'MACBOOK ГРИША НАШЕЛ СВОЙ ДОМ НА НИЖНЕЙ ПОЛКЕ САМОДЕЛЬНОГО КОРОБА ДЛЯ ОБУВИ']
-let count_top2 = [25, 31, 26 ]


.row.no-gutters
  - for (let i = 0; i < 3; i++)
      .col-md-4
        .pattern
          .overlay.item-tittle(style=`background: url(img/blog/electronics/${num_top2[i]}.jpg); background-size: cover; background-position: center`)
            .item-tittle-content
              h3.item-tittle-headline 
                a.item-underline(href='#') #{title_top2[i]}
              +item-social(count_top2[i],`img/blog/electronics/${num_top2[i]}.jpg`, title_top2[i])



      
       
        
                  